{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<br>
<br>
<div class="row">
<div class="col-md-11">
<div class="acercademi">
<h3>Mi experiencia se basa en más de 20 años de trayectoria en el rubro. Entre 1998 y el 2003 fuí gerente de producción en Angora Sport S.A., empresa dedicada a la producción textil con un extricto control de calidad, principales clientes :Suiza, EEUU e Italia. Actualmente me dedico al diseño y producción de indumentaria industrial e institucional. Espero que la información brindada sea de su agrado, cualquier otra inquietud no dude en contactarse, estaré a su disposición.
</h3>
<br>
<div class="fotodaysi">
<!--img src="{% static '/imagenes/Foto_Daysi.png' %}" alt="My image"-->
<img src="{% static 'imagenes/Foto_Daysi.png' %}" alt="My Image"/>
</div>
<h1>Daysi Fernandez</h1>
<br>
<br>
<!--<p>+591 70679838<br>dfdtex@gmail.com</p>-->
</div>
</div>
</div>
{% endblock %}
